html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: #fff;
  padding: .5rem 1rem .6rem;
  background-color: #444;
  text-decoration: none;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: block;
  width: 5rem;
}

hgroup, p {
  text-align: left;
}

hgroup {
  width: 16rem;
}

p {
  width: 24rem;
}

section {

}
