html {
  font-family: Open Sans, sans-serif;
  list-style: 1.5;
  background-color: #ccc;
}

a {
  color: #fff;
  padding: .5rem 1rem .6rem;
  background-color: #444;
  text-decoration: none;
}

h2 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
}

img {
  width: 5rem;
}
